@{
    ViewData["Title"] = "FastReports";
}

<br />
<div class="text-center">
    <img src="~/images/qrcode.png" />
    <h1> <a href="http://fastreports.azurewebsites.net/Home/Languages">http://fastreports.azurewebsites.net/Home/Languages</a></h1>
</div>
